<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(listAccount)}">
   <table class="tg">
	<tr>
		<th width="80">Person ID</th>
		<th width="120">Person Name</th>
		<th width="120">Person Country</th>
		<th width="60">Edit</th>
	</tr>
	<th:block th:each="user : ${listAccount}">
      <tr>
         <td th:text="${user.username}">...</td>
         <td th:text="${user.password}">...</td>
         <td colspan="2" th:text="${user.rowpass}">...</td>
         <td colspan="2" th:text="${user.rowpass}">...</td>
      </tr>
   </th:block>
	</table>
</div>
</body>
</html>