<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Person page</title>
<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
	.tg .tg-4eph{background-color:#f9f9f9}
</style>
</head>
<body>
<h1>
	Add a Person
</h1>
<th:url var="addAction" value="/person/add" ></th:url>
<th:form action="${addAction}" commandName="person">
<table >
	<tr th:if="${person.name != null}">
		<td>
			<th:label path="id">
				<th:message text="ID"/>
			</th:label>
		</td>
		<td>
			<th:input path="id" readonly="true" size="8"  disabled="true" />
			<th:hidden path="id" />
		</td> 
	</tr>
	<tr>
		<td>
			<th:label path="name">
				<th:message text="Name"/>
			</th:label>
		</td>
		<td>
			<th:input path="name" />
		</td> 
	</tr>
	<tr>
		<td>
			<th:label path="country">
				<th:message text="Country"/>
			</th:label>
		</td>
		<td>
			<th:input path="country" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input th:if="${person.name != null}" type="submit" value="Edit Person" />
			<input th:if="${person.name != null}" type="submit" value="Add Person" />
		</td>
	</tr>
</table>	
</th:form>
<br>
<h3>Persons List</h3>
<table class="tg"  th:if="${not #lists.isEmpty(listPersons)}">
	<tr>
		<th width="80">Person ID</th>
		<th width="120">Person Name</th>
		<th width="120">Person Country</th>
		<th width="60">Edit</th>
		<th width="60">Delete</th>
	</tr>
	<th:block th:each="person : ${listPersons}">
		<tr>
			<td th:text="${person.id}">...</td>
			<td th:text="${person.name}">...</td>
			<td  th:text="${person.country}">...</td>
			<td><a th:href="@{/edit/(${person.id})}" >Edit</a></td>
			<td><a th:href="@{/remove/(${person.id})}" >Delete</a></td>
		</tr>
	</th:block>
</table>
</body>
</html>